<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Blog Semanal</title>
    {% load static %}
  <link href="{% static './css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static './css/blog.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href=".css/blog.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <img class="rounded-2" width="" height="50" src="{% static './img/python.png' %}" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'core_app:home' %}">Inicio
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="search" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

<main class="mt-2">

    <div class="row mt-2">
      <div class="col-md-8 ">

        {% block content %}

        {% endblock content %}

    </div>

      <aside class="col-md-4">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Acerca de: </h4>
            <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Categoria</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="{% url 'core_app:category' %}">Categoria 1</a></li>
              <li><a href="{% url 'core_app:category' %}">Categoria 2</a></li>
              <li><a href="{% url 'core_app:category' %}">Categoria 3</a></li>
              <li><a href="{% url 'core_app:category' %}">Categoria 4</a></li>
            </ol>
          </div>
          <div class="p-3">
            <h4 class="font-italic">Archivos</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="{% url 'core_app:dates' %}">March 2014</a></li>
              <li><a href="{% url 'core_app:dates' %}">February 2014</a></li>
              <li><a href="{% url 'core_app:dates' %}">January 2014</a></li>
              <li><a href="{% url 'core_app:dates' %}">December 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">November 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">October 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">September 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">August 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">July 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">June 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">May 2013</a></li>
              <li><a href="{% url 'core_app:dates' %}">April 2013</a></li>
            </ol>
          </div>
          <div class="p-3">
            <h4 class="font-italic">Redes Sociales</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </aside>
    </div>





    </main>
    <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    </div>
</body>
</html>